@media (min-width:576px){

/* FEATURE */
.feature-title p{
    width: 90%;
}

/* PORTFOLIO */
.portfolio-img .portfolio-content p{
    width: 90%;
}



}


@media (min-width:768px){
    
/* FEATURE */
.feature-title p{
    width: 100%;
}


/* FOOTER */
.footer-content p{
    width: 100%;
}

}


@media (min-width: 992px){

    /* PORTFOLIO */

    .portfolio-title p{
        width: 75%;
    }

    /* VIDEO */
    .video-title p{
        width: 75%;
    }
    
}



@media (min-width:1200px){
    
}


@media (min-width:1400px){
    
}