@media (min-width:576px){

/* CAROUSEL */
.carousel-item .container h2{
    width: 100%;
}
.carousel-item .container p{
    width: 100%;
}


/* FEATURE */
.feature-title p{
    width: 90%;
}

/* PORTFOLIO */
.portfolio-img .portfolio-content p{
    width: 90%;
}

}


@media (min-width:768px){

/* SERVICE */
.service .col-lg-4:first-child .service-item a::before{
        display: block;
}

.service .col-lg-4:last-child .service-item a::before{
    display: block;
}

/* CAROUSEL */
.carousel-item .container h2{
    width: 90%;
}
.carousel-item .container p{
    width: 100%;
}

/* FEATURE */
.feature-title p{
    width: 100%;
}

/* CONTACT */
.contact .container .row .col-12:first-child .contact-item::before{
    display: block;
} 
.contact .container .row .col-12:last-child .contact-item::before{
    display: block;
}

/* FOOTER */
.footer-content p{
    width: 100%;
}

}


@media (min-width: 992px){
/* SERVICE */
.service .col-lg-4:first-child .service-item a::before{
    display: block;
}
.service .col-lg-4:last-child .service-item a::before{
    display: block;
}

/* CAROUSEL */
.carousel-item .container h2{
    width: 75%;
}
.carousel-item .container p{
    width: 75%;
}


 /* PORTFOLIO */
.portfolio-title p{
     width: 75%;
}

  /* VIDEO */
.video-title p{
    width: 75%;
}
    
/* CONTACT */
.contact .container .row .col-12:first-child .contact-item::before{
    display: block;
} 
.contact .container .row .col-12:last-child .contact-item::before{
    display: block;
}


}



@media (min-width:1200px){

/* SERVICE */
.service .col-lg-4:first-child .service-item a::before{
    display: block;
}

.service .col-lg-4:last-child .service-item a::before{
    display: block;
}

.service .col-lg-4:last-child .service-item a::before{
    display: block;
}

 /* CAROUSEL */
.carousel-item .container h2{
    width:70%;
}
.carousel-item .container p{
    width: 70%;
}

/* CONTACT */
.contact .container .row .col-12:first-child .contact-item::before{
    display: block;
} 
.contact .container .row .col-12:last-child .contact-item::before{
    display: block;
}


}


@media (min-width:1400px){

/* SERVICE */
.service .col-lg-4:first-child .service-item a::before{
    display: block;
}
.service .col-lg-4:last-child .service-item a::before{
    display: block;
}

  /* CAROUSEL */
.carousel-item .container h2{
    width:60%;
}
.carousel-item .container p{
    width: 70%;
}

/* CONTACT */
.contact .container .row .col-12:first-child .contact-item::before{
    display: block;
} 
.contact .container .row .col-12:last-child .contact-item::before{
    display: block;
}

}