*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* font-family: 'Jost' !important; */
}



/* N  A  V  B  A  R   */

nav ul li:last-child {
    border-color: #5758e0 !important;
}

nav ul li:last-child:hover{
    background: linear-gradient(to left, #55b4d4, #5758e0);
    color: white;
}





/* C  A  R  O  U  S  E  L */

.carousel-item {

    background: url(../Img/slider.jpg), rgba(0, 0, 0, 0.8);
    padding: 110px 0px;
    background-blend-mode: color-burn;
    background-size: cover;
}

.carousel-item .container h2{
    width: 65%;
    background-image: linear-gradient(to left,#55b4d4,#577dd1);
    background-clip: text;
    color: transparent;
}

.carousel-item .container a{
    background-color: #5758e0;
}


.carousel-item .container a:hover{
    background: linear-gradient(to left, #55b4d4, #5758e0);
}


.carousel-control-prev-icon,
.carousel-control-next-icon{
    border-radius: 50%;
    background-color: rgb(99, 93, 93) !important;
    color: black!important;
}




/* S  E  R  V  I  C  E */

.service{
    padding: 100px 0px;
}

.service .col-4:first-child .service-item a::before{
    content: "";
    width: 80%;
    height: 60%;
    position: absolute;
    background: linear-gradient(to left, #55b4d4, #5758e0);
    top: -20px;
    left: -20px;
    z-index: -1;
}


.service .col-4:last-child .service-item a::before{
    content: "";
    width: 80%;
    height: 60%;
    position: absolute;
    background: linear-gradient(to left, #55b4d4, #5758e0);
    bottom: -20px;
    right: -20px;
    z-index: -1;
}

.service .container .row .col-4 .service-item a :first-child{
    background-image: linear-gradient(to left,#55b4d4,#577dd1);
    background-clip: text;
    color: transparent;
}

.service .container .row .col-4 .service-item {
    transition: all 0.4s ease;
    cursor: pointer;
}

.service .container .row .col-4  .service-item:hover{
    background: linear-gradient(to left, #55b4d4, #5758e0);
    transform: translateY(-10px);
}

.service .container .row .col-4 .service-item:hover p{
    color: white !important;
}

.service .container .row .col-4 .service-item:hover i{
    color: white !important;
}

.service .col-4:first-child:hover .service-item a::before{
    display: none;
    
}






/* A  B  O  U  T */

.about{
    padding: 90px 0px;
    background-color: #191919;
}


.about-content span{
    display:inline-block;
    height: 5px;
    width: 90px;
    background-image: linear-gradient(to left,#55b4d4,#577dd1);
    margin-bottom: 10px;
}



/*  P  L  A  N  N  I  N  G  */

.planning{
    padding: 120px 0px;
    background-color: #111111;
}

.planning-content span{
    display:inline-block;
    height: 5px;
    width: 90px;
    background-image: linear-gradient(to left,#55b4d4,#577dd1);
    margin-bottom: 10px;
}

.planning-item i{
    background-image: linear-gradient(to left,#55b4d4,#577dd1);
    background-clip: text;
    color: transparent;
    font-size: 50px;
}



/*  F  E  A  T  U  R  E  S */

.features{
    padding: 90px 0px;
}

