*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* font-family: 'Jost' !important; */
}



/*-------------------------- N  A  V  B  A  R ---------------------  */

nav ul li:last-child {
    border-color: #5758e0 !important;
}

nav ul li:last-child:hover{
    background: linear-gradient(to left, #55b4d4, #5758e0);
    color: white;
}

nav ul li:not(:last-child) a:hover {
    color:#5758e0 !important;
}





/*----------------------- C  A  R  O  U  S  E  L -------------------*/

.carousel-item {

    background: url(../Img/slider.jpg), rgba(0, 0, 0, 0.8);
    padding: 130px 0px;
    background-blend-mode: color-burn;
    background-size: cover;
}

.carousel-item .container h2{
    width: 65%;
    background-image: linear-gradient(to left,#55b4d4,#577dd1);
    background-clip: text;
    color: transparent;
}

.carousel-item .container a{
    background-color: #5758e0;
}


.carousel-item .container a:hover{
    background: linear-gradient(to left, #55b4d4, #5758e0);
}


.carousel-control-prev-icon,
.carousel-control-next-icon{
    border-radius: 50%;
    background-color: rgb(99, 93, 93) !important;
    color: black!important;
}




/*--------------------- S  E  R  V  I  C  E -----------------------*/

.service{
    padding: 100px 0px;
}

.service .col-lg-4:first-child .service-item a::before{
    content: "";
    width: 80%;
    height: 60%;
    position: absolute;
    background: linear-gradient(to left, #55b4d4, #5758e0);
    top: -20px;
    left: -20px;
    z-index: -1;
    display: none;
}


.service .col-lg-4:last-child .service-item a::before{
    content: "";
    width: 80%;
    height: 60%;
    position: absolute;
    background: linear-gradient(to left, #55b4d4, #5758e0);
    bottom: -20px;
    right: -20px;
    z-index: -1;
    display: none;
}

.service .container .row .col-lg-4 .service-item a :first-child{
    background-image: linear-gradient(to left,#55b4d4,#577dd1);
    background-clip: text;
    color: transparent;
}

.service .container .row .col-lg-4 .service-item{
    transition: linear;
    cursor: pointer;
}


.service .container .row .col-lg-4 .service-item:hover{
    background: linear-gradient(to left, #55b4d4, #5758e0);
    transform: translateY(-10px);
    transition: all 0.5s ease;
}

.service .container .row .col-lg-4 .service-item:hover p{
    color: white !important;
}

.service .container .row .col-lg-4 .service-item:hover i{
    color: white !important;
}

.service .col-lg-4:first-child:hover .service-item a::before{
    opacity: 0;  
    
}

.service .col-lg-4:last-child:hover .service-item a::before{
    opacity: 0; 
    
}





/*----------------------- A  B  O  U  T --------------------------*/

.about{
    padding: 90px 0px;
    background-color: #191919;
}


.about-content span{
    display:inline-block;
    height: 5px;
    width: 90px;
    background-image: linear-gradient(to left,#55b4d4,#577dd1);
    margin-bottom: 10px;
}



/*  P  L  A  N  N  I  N  G  */

.planning{
    padding: 120px 0px;
    background-color: #111111;
}

.planning-content span{
    display:inline-block;
    height: 5px;
    width: 90px;
    background-image: linear-gradient(to left,#55b4d4,#577dd1);
    margin-bottom: 10px;
}

.planning-item i{
    background-image: linear-gradient(to left,#55b4d4,#577dd1);
    background-clip: text;
    color: transparent;
    font-size: 50px;
}



/*--------------------------  F  E  A  T  U  R  E  S ----------------------*/

.features{
    padding: 90px 0px;
}





/*------------------------  P  O  R  T  F  O  L  I  O  ----------------------*/

.portfolio{
    background-color: #111111;
    padding: 90px 0px;
}

.portfolio-img img{
    height: 420px;
}

.portfolio-content{
    background: linear-gradient(to left,#55b4d489,#3b5388a5);
    opacity: 0;
    transition: 0.3s ease;
}

.portfolio-img:hover{
    transform: translateY(-10px);
    transition: all 0.5s ease;
    opacity: 1;
}

.portfolio-img:hover .portfolio-content{
    opacity: 1;
}   

.portfolio-img img{
    object-fit: cover;
    object-position: center;
}

/*---------------------------   V  I  D  E  O --------------------------------*/


.video{
    background-color: #191919;
    padding: 90px 0px;
}


.video-inner .video-content{
    background-image: url(../Img/Video-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 420px;
    
}


.video-inner .video-content a i{
    font-size: 100px;
    background: linear-gradient(to left,#54b7d8,#537dd8);
    background-clip: text;
    color:transparent;
    
}

.video-inner:hover .video-content a{
    scale: 1.4;
    transition: 0.5s ease-in-out;
}

.video-inner .video-content:hover{
    filter: brightness(0.9) contrast(1.2);
    transition: 0.3s;
}




/*--------------------------  T  E  S  T  I  M  O  N  I  A  L  --------------------- */


.testimonial{
    padding: 90px 0px;
}


.testimonial-item{
    transition: 0.3s ease;
}

.testimonial-item:hover{
    background: linear-gradient(to left,#54b7d8,#4172da);
    transform: translateY(-10px);
}

.testimonial-item:hover .testimonial-img>p{
    color: white !important;
}
.testimonial-item:hover .testimonial-img a>i{
    color: white !important;
}


.testimonial-item .testimonial-img img{
    width: 100px;
    height: 100px;
}

.testimonial-item .testimonial-img a i{
    background-image: linear-gradient(to left,#54b7d8,#537dd8);
    background-clip: text;
    color: transparent;
}


/*----------------------  F  O  R  M --------------------------*/
.form{
    padding: 70px 0px;
}

.form .container .row .col-12 .form-content span{
    display:inline-block;
    height: 5px;
    width: 90px;
    background-image: linear-gradient(to left,#55b4d4,#577dd1);
    margin-bottom: 10px;
}

.form .container .row .col-12 .form-input ul li button:last-child{
    background-color: #5758e0;
}

.form-input input::placeholder{
    color: white;  
}

 .form-input ul li button:last-child:hover{
    background-image:linear-gradient(to left,#55b4d4,#577dd1);
}

.form-img .card-img-overlay a{
    background: linear-gradient(to left,#55b4d4,#577dd1);
}




/*-----------------   C  O   N   T   A   C   T   -------------- */

.contact{
    padding: 90px 0px;
}

.contact .container .row .col-lg-4 .contact-item{
    cursor: pointer;
    transition: linear;
}

.contact .container .row .col-12:first-child .contact-item::before{
    content: "";
    width: 80%;
    height: 60%;
    position: absolute;
    background: linear-gradient(to left, #55b4d4, #5758e0);
    top: -20px;
    left: -20px;
    z-index: -1;
    display: none;
} 


.contact .container .row .col-lg-4:first-child:hover .contact-item::before{
    opacity: 0;
}

.contact .container .row .col-12:last-child .contact-item::before{
    content: "";
    width: 80%;
    height: 60%;
    position: absolute;
    background: linear-gradient(to left, #55b4d4, #5758e0);
    bottom: -20px;
    right: -20px;
    z-index: -1;
    display: none;
} 

.contact .container .row .col-lg-4:last-child:hover .contact-item::before{
    opacity: 0;
}


.contact .container .row .col-lg-4 .contact-item:hover{
    background: linear-gradient(to left, #55b4d4, #5758e0);
    transform: translateY(-10px);
    transition: 0.5s ease;
}

.contact .container .row .col-lg-4 .contact-item:hover p{
    color: white !important;
}

.contact .container .row .col-lg-4 .contact-item:hover i{
    color: white !important;
}

.contact .container .row .col-lg-4 .contact-item a :first-child{
    background-image: linear-gradient(to right,#55b4d4,#577dd1);
    background-clip: text;
    color: transparent;
}


/*-------------------- F  O  O  T  E  R -----------------------*/

.footer .container .row .col-lg-6 .footer-copy-right p>a{
    color: #55b4d4;
}

